<div class="row">
  <div class="span4 offset4">
    <h4 class="text-center">Forgot your password?</h4>

    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    <%= devise_error_messages! %>
    <div class="login-form">
      <div class="control-group">
        <%= f.email_field :email, :autofocus => true, :class => 'login-field', :placeholder => 'Enter your email' %>
        <label class="login-field-icon fui-man-16" for="user[email]"></label>
      </div>
      <%= f.submit "Send password reset instructions", :class => 'btn btn-primary btn-large btn-block' %>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
  </div>
</div>
