<!DOCTYPE html>
<html>
<head>
  <title>Postrello</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to "Home", root_path %> |
      <%= link_to "Settings", settings_path %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Login", new_user_session_path %>
    <% end %>
    <h1 class="postrello_headline"><%= link_to 'Postrello', root_path %></h1>

    <%= yield %>

  </body>
</html>
